<mat-card *ngIf="data">
    <mat-card-header>
        <mat-card-title>Comentário para a foto: {{data.id}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="example-full-width">
            <mat-label>Comentário</mat-label>
            <textarea matInput [formControl]="comment"></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-mini-fab color="primary" (click)="salvar()"><mat-icon>save</mat-icon></button>
        <button mat-mini-fab color="primary" (click)="voltar()"><mat-icon>arrow_back</mat-icon></button>
    </mat-card-actions>
</mat-card>